.carpost {
    font-family:  sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.carpost .container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: left;
}
.cat a{
    color: #333;
    margin-left: 20px;
}

.carpost .heading {
    text-align: center;
    
}
.carpost .header{
    margin-bottom: 20px;
}


.carpost .head2 {
    font-size: 24px;
    font-weight: 550;
    color: #2c882c;
    margin-bottom: 10px;
}

.carpost .labels {
    margin-bottom: 20px;
}

.carpost .label {
    font-weight: bold;
    color: #2c882c;
}

.carpost input[type="text"]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 16px;
}

.carpost input[type="number"]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 16px;
}

.carpost input[type="tel"]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 16px;
}

.carpost select{
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 16px;
}

.carpost textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 16px;
}

.carpost button[type="submit"] {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #2c882c;
    color: #fff;
    border: none;
    border-radius: 6px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.carpost button[type="submit"]:hover {
    background-color: #236b23;
}
.mobilePost-button{
    width:6rem;
    height:3rem;
    margin-left:1rem;
    margin-top:1rem;
    background-color: #236b23;
    color:white;
    border-radius: 10px;
    border:0;

}
.file-upload-d {
    margin:1rem;
    width:5rem;
  }
.file-upload-d input[type=file] {
    display: none;
  }
.file-uploading{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}